body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.c_time span{
	cursor: pointer;
}
.c_time input{
	text-align: center;
}
.c_time input[type="datetime-local"]{
	display: none;
}
div input[type="radio"]{
	margin: 0;
}