div(class="row")
	div(class="col-xs-4")
		input(type="text", name="txtTask", class="form-control", placeholder="What are you working on?")
	div(class="col-xs-4 input-group pull-left", data-toggle="modal", data-target="#myModal")
		span(class="input-group-addon")
			i(class="glyphicon glyphicon-plus")
		input(type="text", name="txtProject", class="form-control", readonly="true", placeholder="Create a project")
	div(class="col-xs-2")
		input(type="text", name="txtTimer", id="txtTimer", value="0:00:00", class="form-control")
	div(class="col-xs-2")
		button(id="aTrigger", class="btn btn-success") Start

div(class="row")
	div(class="col-xs-12")
	table(class="table table-striped")
		thead
			tr
				th(colspan="5") Activity
		tbody
			tr
				td task
				td project
				td started
				td finished
				td duration